@import ../../mixins
@import ../../variables

.orders__container
    padding-top: 60px 
    padding-bottom: 200px

.nav.nav-pills 
    li.active a
        background-color: $primary-purple-light
        color: $white
        text-decoration: none

    a 
        display: inline-block
        padding: 15px
        margin: 0 15px 15px 0
        border-radius: .25rem
        background-color: $gray-lighter
        color: $gray-mid
        +transition(all, .35s)

        &.information-central__item
            padding: 15px 15px 15px 50px

        &:focus,
        &:hover    
            background-color: $primary-purple-light
            color: $white
            text-decoration: none

.myo-cancel-btn,
[href$="cancel"]
    display: none
    visibility: hidden

[data-reactroot]:after
    display: block
    clear: both
    content: ""