@import ../../mixins
@import ../../variables

@import orders

.account__container
    padding-top: 60px 
    padding-bottom: 200px

.profile-detail-form .form-group
    width: 47.5%
    display: inline-block
    margin: 0 5% 15px 0

.profile-detail-form .form-group:nth-child(even)
    margin-right: 0

label.radio 
    margin-right: 15px

    input
        margin-right: 10px

.address-form .form-group
    width: 100%
    margin-right: 0
    display: inline-block

.profile-detail-form-contact-data .controls
    margin-right: 15px

.profile-detail-form-personal-data
    .error 
        display: block
        color: $primary-purple-light