=transition($type, $time)
    -webkit-transition: $type $time
    -moz-transition: $type $time
    transition: $type $time

=diagonal-gradient($startcolor, $endcolor)
    background: $startcolor
    background: -moz-linear-gradient(-45deg, $startcolor 0%, $endcolor 100%)
    background: -webkit-linear-gradient(-45deg, $startcolor 0%,$endcolor 100%)
    background: linear-gradient(135deg, $startcolor 0%,$endcolor 100%)