@import ../../variables
@import ../../mixins

.newsletter 
    padding: 30px 40px
    background-color: $primary-purple-dark
    color: $white

.newsletter__heading
    margin-bottom: 20px
    text-align: center
    font-size: 2rem
    line-height: 2rem
    font-weight: 700
    color: $primary-yellow-light
    
.newsletter .row
    -ms-flex-align: center
    align-items: center

@media screen and (min-width: 992px)
    .newsletter .form-group,
    .newsletter__heading
        margin-bottom: 0