@import ../../variables
@import ../../mixins

.breadcrumb
    display: none
    padding: 20px 50px
    background: none
    border-bottom: 1px solid #E0E0E0
    margin: 0

    @media screen and (min-width: 768px) 
        display: block

.bread-crumb > ul 
    padding: 0
    margin: 0
    list-style: none

    > li 
        display: inline-block
        margin-right: 15px

        &:after 
            content: '>'
            margin-left: 15px
            color: $gray-mid

        &:last-child
            margin-right: 0

            &:after
                content: none

            a 
                color: $gray-dark

        a
            color: $gray-mid

            &:hover
                color: $gray-dark