<div class="container-fluid">

    <!-- featured section 1 -->

    <div class="homepage__featured homepage__featured--1">
        <h3 class="homepage__heading">Entre e fique à vontade. Confira os lançamentos:</h3>

        <div class="row justify-content-center">
            <div class="col-xl-10">
                {#featuredOne}
                    {> "product/product-slider" /}
                {/featuredOne}
            </div>
        </div>
    </div>


    <!-- featured section 2 -->

    <div class="homepage__featured homepage__featured--2">
        <h3 class="homepage__heading"><span class="heading__sub">Jacquard Tradicional</span><br />
            Alta qualidade em tecido</h3>
        
        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-2 offset-xl-1">
                <a class="banner__requinte" href="/tecidos-para-decoracao/paredes/jacquard-tradicional">
                    <span class="banner-requinte__heading">Requinte e sofisticação</span>

                    <button class="btn btn--blue">Quero ver mais</button>
                </a>
            </div>
            <div class="col-md-8 col-lg-9 col-xl-8">
                {#featuredTwo}
                    {> "product/product-slider" /}
                {/featuredTwo}
            </div>
        </div>
    </div>


    <!-- benefits -->

    <div class="homepage__benefits row justify-content-center">
        <div class="col-xl-10">
            <div class="benefits">
                <div class="row">
                    <div class="col-6 col-md-2 benefits__benefit benefits__benefit--progressive-discount">
                        <h4 class="benefits__heading">Desconto progressivo</h4>
                    </div>
                    <div class="col-6 col-md-2 benefits__benefit benefits__benefit--installments">
                        <h4 class="benefits__heading">6x Sem juros nos cartões</h4>
                    </div>
                    <div class="col-6 col-md-2 benefits__benefit benefits__benefit--fast-delivery">
                        <h4 class="benefits__heading">Entrega rápida em todo o brasil</h4>
                    </div>
                    <div class="col-6 col-md-2 benefits__benefit benefits__benefit--in-cash-discount">
                        <h4 class="benefits__heading">5% de desconto no boleto</h4>
                    </div>
                    <div class="col-6 col-md-2 benefits__benefit benefits__benefit--wholesale">
                        <h4 class="benefits__heading">Vendas no atacado</h4>
                    </div>
                    <div class="col-6 col-md-2 benefits__benefit benefits__benefit--in-stock">
                        <h4 class="benefits__heading">Grande variedade à pronta entrega</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- featured section 3 -->

    <div class="homepage__featured homepage__featured--3">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-xl-1">
                <h3 class="homepage__heading"><span class="heading__sub">Tecido para decoração</span><br />
                    Seu ambiente mais impactante</h3>
                
                <a class="banner__festa-infantil" href="/tecidos-para-decoracao/festas-infantis">
                    <span class="banner-festa-infantil__heading">Festa infantil com mais estilo</span>

                    <button class="btn btn--blue">Quero ver mais</button>
                </a>

                {#featuredThree}
                    {> "product/product-slider" /}
                {/featuredThree}
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-4">
                <div class="banner__guia-de-compras">
                    <div class="banner-guia-de-compras__content">
                        <h3 class="banner-guia-de-compras__heading">Conheça nosso guia de compras</h3>

                        <ul class="banner-guia-de-compras__list">
                            <li class="banner-guia-de-compras__list-item banner-guia-de-compras__list-item--ambient-simulator"><a href="/guia-de-compras/simulador-de-ambientes/">Simulador de ambientes</a></li>
                            <li class="banner-guia-de-compras__list-item banner-guia-de-compras__list-item--meter-calculator"><a href="/guia-de-compras/calculadora-de-metragem/">Calculadora de metragem</a></li>
                            <li class="banner-guia-de-compras__list-item banner-guia-de-compras__list-item--progressive-discount"><a href="/guia-de-compras/desconto-progressivo/">Desconto progressivo</a></li>
                            <li class="banner-guia-de-compras__list-item banner-guia-de-compras__list-item--specialist"><a href="/guia-de-compras/consultoria-especializada/">Especialista</a></li>
                            <li class="banner-guia-de-compras__list-item banner-guia-de-compras__list-item--faq"><a href="/guia-de-compras/faq/">FAQ</a></li>
                        </ul>

                        <a href="/guia-de-compras/" class="btn btn--secondary-purple banner-guia-de-compras__btn">Quero conhecer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- featured section 4 -->
    
    <div class="homepage__featured homepage__featured--4">
        <h3 class="homepage__heading">Os queridinhos do pessoal</h3>
    
        <div class="row justify-content-center">
            <div class="col-xl-10">
                {#featuredFour}
                    {> "product/product-slider" /}
                {/featuredFour}
            </div>
        </div>
    </div>
</div>