#set($id = $product.Id)
#set($sku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)

#if ($product.IsInStock)

<div class="product-thumbnail clearfix" data-product-id="$id" data-product-sku="$sku" data-product-seller="1">
    $product.DiscountHightLight
    <a class="product-thumbnail__image" title="$escapedName" href="$uri">$product.GetImageTag(2)</a>
    <h3 class="product-thumbnail__name"><a title="$escapedName" href="$uri">$product.SkuName</a></h3>

    <div class="yv-review-quickreview" value="$id"></div>

    <p class="product-thumbnail__price product-thumbnail__price--wholesale">
        <a title="$escapedName" href="$uri">
            #if ($product.HasBestPrice)
                <span class="price__old">de <span>$product.ListPrice</span></span>
                <span class="price__new">por <span>$product.BestPrice</span></span>
            #else
                <span class="price__new">por <span>$product.BestPrice</span></span>
                <span class="price__installment">
                    varejo
                </span>
            #end
        </a>
    </p>

    <p class="product-thumbnail__wholesale-price">
        <span class="wholesale-price__tag">ATACADO</span>
        <span class="wholesale-price__price"></span>
    </p>

    <input class="product-thumbnail__meter-selector" type="number" min="1" max="999" value="1" />
    <button data-sku="$sku" data-quantity="1" data-seller="1" type="button" class="product-thumbnail__buy-button btn btn--green btn--buy">Comprar</button>
</div>

#else

<div class="product-thumbnail clearfix product-thumbnail--out-of-stock" data-product-id="$id">
    <a class="product-thumbnail__image" title="$escapedName" href="$uri">$product.GetImageTag(2)</a>
    <h3 class="product-thumbnail__name"><a title="$escapedName" href="$uri">$product.SkuName</a></h3>

    <p class="product-thumbnail__not-available">
        Ops! Este produto não está disponível no momento
    </p>
</div>

#end