{> "catalog/ordering" /}

<div class="row">
    {#products}
        <div class="col-6 col-md-4 col-xl-3">
            {> "product/product-thumbnail" /}
        </div>
    {/products}
</div>

{> "catalog/pagination" /}