@import ../../variables
@import ../../mixins

.progressive-discount__container
    margin-bottom: 100px

.progressive-discount__heading
    @media screen and (min-width: 768px)
        margin: 100px 0 20px

.text-purple
    color: $secondary-purple-light

.btn--catalog
    display: inline-block
    width: unset