<div class="benefits">
    <div class="row">
        <div class="col-6 col-lg-2 benefits__benefit benefits__benefit--progressive-discount">
            <h4 class="benefits__heading">Desconto progressivo</h4>
        </div>
        <div class="col-6 col-lg-2 benefits__benefit benefits__benefit--installments">
            <h4 class="benefits__heading">12x Sem juros nos cartões* <br /><small>*parcela mínima R$30,00</small></h4>
        </div>
        <div class="col-6 col-lg-2 benefits__benefit benefits__benefit--fast-delivery">
            <h4 class="benefits__heading">Entrega rápida em todo o brasil</h4>
        </div>
        <div class="col-6 col-lg-2 benefits__benefit benefits__benefit--in-cash-discount">
            <h4 class="benefits__heading">5% de desconto no boleto</h4>
        </div>
        <div class="col-6 col-lg-2 benefits__benefit benefits__benefit--wholesale">
            <h4 class="benefits__heading">Vendas no atacado</h4>
        </div>
        <div class="col-6 col-lg-2 benefits__benefit benefits__benefit--in-stock">
            <h4 class="benefits__heading">Grande variedade à pronta entrega</h4>
        </div>
    </div>
</div>