<aside id="cart" class="cart cart--empty">
    <header class="cart__header">
        <div class="cart__alert alert"></div>
    </header>

    <ul class="cart__items"></ul>

    <!-- banner -->

    <img src="/arquivos/banner__cart-progressive-discount.png" alt="" class="cart__banner" />

    <footer class="cart__footer">
        <div class="cart__actions nav justify-content-center">
            <a href="./" data-toggle="cart" class="nav-link cart__continue-buying btn btn--purple">Continuar Comprando</a>
            <a href="/checkout/" class="nav-link cart__checkout btn btn--green">Finalizar Compra</a>
        </div>
    </footer>
</aside>