<style>
    #ajaxBusy,
    .ajax-content-loader {
        display: none;
    }
</style>

<link href="/arquivos/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/flexslider.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/style.css?v=1.0.4" rel="stylesheet" type="text/css" />