<footer class="footer">
    <div class="container-fluid">
        <div class="footer-nav__row row justify-content-center">
            <div class="col-xl-10">
                <nav class="footer-nav nav flex-column flex-lg-row justify-content-between align-items-lg-center">
                    <a href="/tecidos-para-decoracao/" class="footer-nav__link nav-link">Tecidos para Decoração</a>
                    <a href="/tecidos-para-moveis/" class="footer-nav__link nav-link">Tecidos para Móveis</a>
                    <a href="/tecidos-para-vestuario" class="footer-nav__link nav-link">Tecidos para Vestuário</a>
                    <a href="/eventos/" class="footer-nav__link nav-link">Eventos</a>
                    <a href="/casa/" class="footer-nav__link nav-link">Casa</a>
                    <a href="/patchwork/" class="footer-nav__link nav-link">Patchwork</a>
                    <a href="/minha-conta" class="footer-nav__link nav-link ">Minha conta</a>
                    <a href="/checkout/" class="footer-nav__link nav-link">Carrinho de compras</a>
                </nav>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-xl-2 order-lg-4">
                <nav class="footer__links nav flex-column">
                        <h5 class="footer__heading">Fale conosco</h5>
                    <a href="tel:551934683948" class="footer-links__link nav-link footer-contact__phone">(19) 3468-3948</a>
                    <a href="https://api.whatsapp.com/send?phone=5519981416772" target="_blank" class="footer-links__link nav-link footer-contact__whatsapp">(19) 98141-6772</a>
                    <a href="mailto:contato@enroladotecidos.com.br" class="footer-links__link nav-link footer-contact__email">contato@enroladotecidos.com.br</a>
                </nav>
            </div>
            <div class="col-lg-2 order-lg-5 text-xl-right">
                <h5 class="footer__heading">Siga-nos <span class="d-none d-lg-inline-block">nas redes sociais</span></h5>
                <a href="https://www.facebook.com/enroladotecidos" target="_blank" class="footer-social__facebook order-1 order-lg-2"></a>
                <a href="http://instagram.com/enroladotecidos" target="_blank" class="footer-social__instagram order-2 order-lg-1"></a>
            </div>
            <div class="col-lg-2 order-lg-1">
                <nav class="footer__links nav flex-column">
                    <h5 class="footer__heading">Enrolado Tecidos</h5>
                    <a href="/quem-somos/" class="footer-links__link nav-link">Quem Somos</a>
                    <a href="/central-de-informacoes/" class="footer-links__link nav-link">Central de Informações</a>
                    <a href="/central-de-informacoes/#politica-de-troca-e-devolucao/" class="footer-links__link nav-link">Troca e Devolução</a>
                    <a href="/central-de-informacoes/#politica-de-privacidade/" class="footer-links__link nav-link">Política de Privacidade</a>
                    <a href="/contato/" class="footer-links__link nav-link">Contato</a>
                </nav>
            </div>
            <div class="col-lg-2 order-lg-2">
                <nav class="footer__links nav flex-column">
                    <h5 class="footer__heading">Guia de compras</h5>
                    <a href="/guia-de-compras/simulador-de-ambientes" class="footer-links__link nav-link">Simulador de Ambientes</a>
                    <a href="/guia-de-compras/calculadora-de-metragem/" class="footer-links__link nav-link">Calculadora de Metragem</a>
                    <a href="/guia-de-compras/desconto-progressivo/" class="footer-links__link nav-link">Desconto Progressivo</a>
                    <a href="/guia-de-compras/consultoria-especializada/" class="footer-links__link nav-link">Consultoria com a Helô</a>
                    <a href="/guia-de-compras/faq" class="footer-links__link nav-link">FAQ</a>
                </nav>
            </div>
            <div class="col-lg-3 col-xl-2 order-lg-3">
                <div class="footer-address">
                    <h5 class="footer__heading">Visite nosso showroom</h5>
                    <address class="footer-address__text">
                        <a href="https://goo.gl/maps/Y9J7skniPJ82" target="_blank" title="Ver no mapa">Rua Ângelo Colla, 200, Lot. Ind. Machadinho Americana, SP - 13478-711</a>
                    </address>
                    <a href="https://www.waze.com/ul?preview_venue_id=204932644.2049195373.14151850" class="btn btn__waze d-lg-none">Navegue pelo Waze</a>
                </div>
                <div class="footer-atendimento">
                    <h5 class="footer__heading">Horário de atendimento</h5>
                    <p class="footer-atendimento__text">Segunda a Sexta das 8:30h às 17:30h</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <h5 class="footer__heading">Formas de pagamento</h5>

                <ul class="list-inline footer__payment-methods">
                    <li class="list-inline-item payment-methods__item payment-methods__item--visa"><img src="/arquivos/icon__visa.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--master"><img src="/arquivos/icon__master.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--paypal"><img src="/arquivos/icon__paypal.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--hipercard"><img src="/arquivos/icon__hipercard.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--hiper"><img src="/arquivos/icon__hiper.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--amex"><img src="/arquivos/icon__amex.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--elo"><img src="/arquivos/icon__elo.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--boleto"><img src="/arquivos/icon__boleto.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--deposito"><img src="/arquivos/icon__deposito.png" alt="" /></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xl-3">
                <h5 class="footer__heading">Formas de envio</h5>
                <img src="/arquivos/img-footer-formas-de-envio.png" class="img-fluid d-lg-none" alt="" />
                <img src="/arquivos/img-footer-formas-de-envio-desk.png" class="img-fluid d-none d-lg-block" alt="" />
            </div>
            <div class="col-lg-4 col-xl-3">
                <h5 class="footer__heading">Selos</h5>

                <ul class="list-inline footer__selos d-xl-flex align-items-center">
                    <li class="list-inline-item selos__item selos__item--ebit"><a id="seloEbit" href="http://www.ebit.com.br/#enrolado-tecidos" target="_blank" onclick="redir(this.href);"></a><script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?76709"></script></li>
                    <li class="list-inline-item selos__item selos__item--site-protegido"><img src="/arquivos/selo__site-protegido.png" alt="" /></li>
                    <li class="list-inline-item selos__item selos__item--safe-browsing"><a href="https://transparencyreport.google.com/safe-browsing/search?url=www.enroladotecidos.com.br" target="_blank"><img src="/arquivos/selo__safe-browsing.png" alt="" /></a></li>
                    <li class="list-inline-item selos__item selos__item--loja-confiavel"><a href="https://www.lojaconfiavel.com/enroladotecidos" class="ts-footerstamp" data-lcname="enroladotecidos"  target="_blank"><img src="//service.yourviews.com.br/Image/4790dc80-47b3-466f-b394-82d3feb57bc6/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" style="width: 88px; height: 91px;"/></a></li>
                    <li class="list-inline-item selos__item selos__item--vtex-pci"><img src="/arquivos/selo__vtex-pci.png" alt="" /></li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center footer-signature-row">
            <div class="col-lg-4 order-lg-2">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="footer-signature__text d-block d-lg-inline-block footer-signature_desc-logo">Powered by</span><a href="https://vtex.com.br" target="_blank" class="footer-signature__logo-vtex"></a>
                    </div>
                    <div class="col-6">
                        <span class="footer-signature__text d-block d-lg-inline-block footer-signature_desc-logo">Design by</span><a href="https://blackmagenta.com.br" target="_blank" class="footer-signature__logo-bm"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1 text-center text-lg-left">
                <p class="footer-signature__text">M.G.M. TECIDOS LTDA - EPP - CNPJ: 22.659.588/0001-22  © Todos os direitos reservados. 2018</p>
            </div>
        </div>
    </div>
</footer>