<header class="mobile-header d-lg-none">
    <div class="container-fluid">
        <div class="topbar d-flex align-items-center">
            <a href="/" class="mobile-header__brand">Enrolado Tecidos</a>
            <a href="#shipping" data-toggle="modal" class="btn btn--yellow btn--shipping">Simular Frete</a>
            <a href="#cart" data-toggle="cart" class="mini-cart"><span class="mini-cart__quantity">0</span></a>
        </div>
        <div class="search">
            <fieldset class="search__fieldset">
                <input class="search__input" type="search" placeholder="Encontre o seu produto" />
                <div class="search__results dropdown-menu"></div>
            </fieldset>
        </div>
    </div>
</header>
    
<nav class="mobile-menu"></nav>

<div class="mobile-menu__toggler d-lg-none">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-8">
                <a href="https://api.whatsapp.com/send?phone=5519981416772" target="_blank" class="btn btn--outline btn--outline-light btn--whatsapp">(19) 98141-6772</a>
                <a class="btn btn--outline btn--outline-light" href="#chat">Chat</a>
            </div>
            <div class="col-4 text-right">
                <button type="button" class="mobile-menu__button" data-toggle="mobile-menu">Menu</button>
            </div>
        </div>
    </div>
</div>

<header class="desktop-header d-none d-lg-block">
    <div class="container-fluid clearfix">
        <a href="/" class="desktop-header__brand">Enrolado Tecidos</a>
        <a href="#shipping" data-toggle="modal" class="btn btn--yellow btn--shipping">Simular Frete</a>
        
        <div class="search">
            <fieldset class="search__fieldset">
                <input class="search__input" type="search" placeholder="Encontre o seu produto" maxlength="50" />
                <div class="search__results dropdown-menu"></div>
            </fieldset>

            <button type="button" class="search__btn"></button>
        </div>
        
        <a href="https://api.whatsapp.com/send?phone=5519981416772" target="_blank" class="btn btn--outline btn--outline-light btn--whatsapp">(19) 98141-6772</a>
        <a href="#cart" data-toggle="cart" class="mini-cart"><span class="mini-cart__quantity">0</span></a>
        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="desktop-header__account-link">Acessar Cota</a>
    
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/minha-conta/">Minha conta</a>
                <a class="dropdown-item" href="/minha-conta/pedidos">Meus pedidos</a>
                <a class="dropdown-item" href="/logout">Sair</a>
            </div>
        </div>
    </div>

    <ul class="menu d-none d-lg-flex justify-content-between align-items-end"></ul>
</header>