<div id="shipping" class="shipping modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <button type="button" class="modal__close" data-dismiss="modal"></button>

                    <div class="row">
                        <div class="col-lg-9">
                            <h3 class="modal__heading">Qual é o número do seu CEP?</h3>
            
                            <p class="modal__text">Através do seu CEP, poderemos mostrar a você o frete com melhor preço e seu prazo de entrega, a cada produto que você acessar. </p>
            
                            <form class="shipping__form">
                                <p class="shipping__alert alert"></p>
            
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="text" name="zip" class="form-control shipping__input" placeholder="CEP" />
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn--green shipping__submit">Salvar CEP</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" data-toggle="modal" data-target="#shipping" class="btn btn--green shipping__ok" disabled="true">Continuar Comprando</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <img src="/arquivos/helo.png" alt="" class="img-fluid shipping__helo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact-confirmation" class="contact-confirmation modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <button type="button" class="modal__close" data-dismiss="modal"></button>

                    <h3 class="modal__heading">Obrigado pelo contato!</h3>

                    <p class="modal__text">Vamos analisar sua mensagem e logo responderemos, ok?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="specialist-confirmation" class="specialist-confirmation modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <button type="button" class="modal__close" data-dismiss="modal"></button>

                    <h3 class="modal__heading">Será um prazer te ajudar!</h3>

                    <p class="modal__text">Em breve responderei sua mensagem com dicas especiais.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="newsletter-confirmation" class="newsletter-confirmation modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <button type="button" class="modal__close" data-dismiss="modal"></button>

                    <h3 class="modal__heading">Prontinho!</h3>

                    <p class="modal__text">Sempre que surgir novidades e promoções, você receberá em seu e-mail.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact-error" class="contact-error modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <button type="button" class="modal__close" data-dismiss="modal"></button>

                    <h3 class="modal__heading">Ops! Ocorreu um problema :(</h3>

                    <p class="modal__text">Tente se cadastrar novamente, por favor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="progressive-discount" class="progressive-discount modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="pricing-table" class="pricing-table modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div id="payment-methods" class="payment-methods modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <button type="button" class="modal__close" data-dismiss="modal"></button>

                    <h3 class="modal__heading">Formas de Pagamento</h3>

                    <vtex:paymentMethods />
                </div>
            </div>
        </div>
    </div>
</div>