<form class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 ml-auto">
                <h3 class="newsletter__heading">Receba ofertas com preços exclusivos</h3>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <input class="newsletter__input newsletter__input--name form-control" type="text" name="field_firstname" placeholder="Nome" required="true" />
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <input class="newsletter__input newsletter__input--email form-control" type="email" name="email" placeholder="E-mail" required="true" />
                </div>
            </div>
            <div class="col-lg-1 mr-auto">
                <div class="form-group">
                    <input type="hidden" name="publicaccountid" value="4383e4d1-1af7-403e-9792-b45a3a9b1506" />
                    <input type="hidden" name="source" value="WebForm" />
                    <input type="hidden" id="ewf_captcha" name="captcha" value="false" />
                    <button class="btn btn--green newsletter__submit" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</form>