@import ../../variables
@import ../../mixins

.product-thumbnail
    max-width: 300px
    position: relative
    margin-bottom: 35px
    border-radius: .25rem
    text-align: center
    cursor: pointer
    +transition(all, .35s)

    @media screen and (min-width: 769px) 
        padding: 10px
        border: 1px solid #f5f5f5

        &:focus,
        &:hover
            box-shadow: 0 5px 10px rgba(0,0,0,.1)

            .product-thumbnail__image--multiple img:last-child
                opacity: 1

            .product-thumbnail__image:after,
            .product-thumbnail__meter-selector,
            .product-thumbnail__buy-button
                opacity: 1

            * 
                text-decoration: none

            .price__old span
                text-decoration: line-through

    .flag
        position: absolute
        left: 50%
        transform: translateX(-50%)
        z-index: 10
        padding: 7px 10px
        text-transform: uppercase
        font-weight: 800
        color: #FFDB14
        width: 80%
        background: #9012FE
        border: 2px solid #fff
        border-radius: .25rem
        box-shadow: 0 0 10px rgba(0,0,0,.15)


.product-thumbnail__image
    position: relative
    display: block
    margin-bottom: 15px
    background-color: $gray-lighter
    overflow: hidden

    img
        max-width: 100%
        width: 100%
        height: auto
        z-index: 10

    &:after
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.4)
        opacity: 0
        +transition(all, .35s)

.product-thumbnail__image--multiple
    img:last-child
        position: absolute
        top: 0
        left: 0
        z-index: 0
        opacity: 0
        +transition(opacity, .35s)

.product-thumbnail__name
    height: 40px
    padding: 0 10px
    font-size: 1rem
    text-align: center
    overflow: hidden

    a 
        color: $gray-dark

.yv-review-quickreview
    margin-bottom: 15px

.product-thumbnail__price
    width: 100%
    margin: 0 0 5px
    text-align: center

    a
        font-size: 1.2rem
        color: $gray-dark

    @media screen and (min-width: 769px)
        &.product-thumbnail__price--wholesale
            width: 45%
            float: left

.price__installment
    text-transform: uppercase

.price__old
    font-size: 1rem
    font-weight: 400
    margin-right: 15px

    span
        font-size: 1.1rem
        font-weight: 700
        text-decoration: line-through

    @media screen and (min-width: 769px)
        margin-right: 0 

.price__new
    display: inline-block
    margin-right: 10px
    font-size: 1rem
    font-weight: 400

    span
        font-size: 1.2rem
        font-weight: 700

    @media screen and (min-width: 769px)
        display: block 
        margin-right: 0

.product-thumbnail__wholesale-price
    width: 100%
    display: inline-block
    margin: 5px auto 10px
    padding: 5px
    border: 1px solid $secondary-purple-light

    @media screen and (min-width: 769px)
        width: 50%
        margin: 0 0 0 5% 

.wholesale-price__tag
    display: inline-block
    margin-right: 15px
    font-size: 1rem
    font-weight: 700
    text-transform: uppercase
    color: $secondary-purple-light

    @media screen and (min-width: 769px)
        display: block
        margin-right: 0 

.wholesale-price__price
    font-size: 1rem

.product-thumbnail__shipping-estimate,
.product-thumbnail__meter-selector,
.product-thumbnail__buy-button
    display: none

.product-thumbnail__meter-selector,
.product-thumbnail__buy-button
    display: inline-block
    opacity: 1
    +transition(all, .35s)

.product-thumbnail__meter-selector
    height: 40px
    width: 25%
    padding: 10px
    margin-right: 5%
    border-radius: .25rem
    border: 1px solid $gray-light

.product-thumbnail__buy-button
    padding: .65rem !important
    width: 65%

    &:before
        display: none


@media screen and (min-width: 769px)
    .product-thumbnail__meter-selector,
    .product-thumbnail__buy-button
        display: inline-block
        position: absolute
        top: 33%
        opacity: 0
        +transition(all, .35s)

    .product-thumbnail__meter-selector
        left: 8%
        width: 20%
        height: 50px
        padding: 10px
        border-radius: .25rem
        border: none

    .product-thumbnail__buy-button
        right: 8%
        width: 60%
        padding: 1rem !important


@media screen and (min-width: 992px)
    .product-thumbnail__meter-selector
        height: 56px

    .product-thumbnail__buy-button
        padding: .75rem 1rem 1rem 1rem !important

        &:before
            display: inline-block