@import ../../variables
@import ../../mixins

.product-thumbnail--out-of-stock
    &:focus,
    &:hover
        .product-thumbnail__notify-me-button
            opacity: 1

.product-thumbnail__not-available
    padding: 10px
    margin: 0
    background-color: $gray-lighter
    border-radius: .25rem
    font-size: 1.2rem
    line-height: 1.4rem
    font-weight: 700

.product-thumbnail__notify-me-button
    display: inline-block
    position: absolute
    top: 33%
    opacity: 0
    width: 65%
    left: 17.5%
    +transition(all, .35s)