@import ../../variables
@import ../../mixins

.contato__header--bg
    background-color: $gray-lighter
    text-align: center
    margin-bottom: 35px
    padding: 20px 0px 10px

.contato__header
    text-align: center
    text-transform: uppercase
    font-weight: 300
    font-size: 4rem
    color: $gray-dark

.contact__content-box-form

    @media screen and(min-width: 992px)
        padding-right: 40px

.contact__content-box-info

    @media screen and(min-width: 992px)
        padding-left: 40px
        position: relative

        &:before
            content: ''
            width: 1px
            height: 80%
            background-color: $gray-lighter
            position: absolute
            left: -15px
            top: 50%
            display: block
            margin-top: -80%

            @media screen and(min-width: 1600px)
                margin-top: -33%


.contact-form__title, .contact-info__title , .contact-address__title
    text-align: center
    padding-bottom: 8px
    color: $secondary-purple-light
    font-weight: 300
    font-size: 2rem

    @media screen and(min-width: 922px)
        text-align: left

.form-control
    background-color: $white
    border: 1px solid $gray-lighter
    border-radius: 0.25rem

    &:focus
        box-shadow: unset

    &:hover
        border-color: $secondary-purple-light 

.contact-input
    height: 40px !important

.form-check-label
    color: #495057 !important

.btn__contact-form
    width: 120px

.contact-form 
    padding-bottom: 50px

.contact-info--border-bottom
    padding: 10px 0
    border-bottom: 1px solid $gray-lighter

.contact-info__text-bold
    font-weight: 600

.btn__contact-chat
    margin: 20px 0px 50px

    @media screen and (min-width: 768px)
        margin-bottom: 100px

.btn__waze
    background: #A6CCD7 url(https://enroladotecidos.vteximg.com.br/arquivos/icon-waze.png) top right/contain no-repeat
    color: white
    font-weight: 800
    font-size: 1.2rem
    text-transform: inherit
    border-radius: 13px
    width: 252px
    padding-left: 0px
    margin: 25px auto
    display: block

    @media screen and(min-width: 992px)
        margin: 50px 0px 0px

.contact-address__content
    padding-bottom: 50px

.contact-address__text
    text-align: center

    @media screen and(min-width: 992px)
        text-align: left

