<footer class="checkout-footer">
    <section class="container footer__container">
        <div class="row-fluid">
            <div class="span4">
                <h5 class="footer__title">Formas de pagamento</h5>
                
                <ul class="list-inline footer__payment-methods">
                    <li class="list-inline-item payment-methods__item payment-methods__item--visa"><img src="/arquivos/icon__visa.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--master"><img src="/arquivos/icon__master.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--paypal"><img src="/arquivos/icon__paypal.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--hipercard"><img src="/arquivos/icon__hipercard.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--hiper"><img src="/arquivos/icon__hiper.png" alt="" /></li>
                  <li class="list-inline-item payment-methods__item payment-methods__item--amex"><img src="/arquivos/icon__amex.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--elo"><img src="/arquivos/icon__elo.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--boleto"><img src="/arquivos/icon__boleto.png" alt="" /></li>
                    <li class="list-inline-item payment-methods__item payment-methods__item--deposito"><img src="/arquivos/icon__deposito.png" alt="" /></li>
                </ul>
            </div>
            <div class="span4">
                <h5 class="footer__title">Formas de envio</h5>
                <img src="/arquivos/img-footer-formas-de-envio.png" class="img-fluid hidden-desktop" alt="">
                <img src="/arquivos/img-footer-formas-de-envio-desk.png" class="img-fluid hidden-phone" alt="">
            </div>
            <div class="span4">
                <h5 class="footer__title">Selos</h5>
                
                <ul class="list-inline footer__selos">
                    
                </ul>
            </div>
        </div>
        <div class="row-fluid footer-signature-row">
            <div class="row-fluid text-center">
                <p>Powered by</span><a href="#" class="footer-signature__logo-vtex"></a>
                Designed by</span><a href="#" class="footer-signature__logo-bm"></a></p>
            </div>
            <div class="row text-center">
                <small class="footer-signature__text">M.G.M. TECIDOS LTDA - EPP - CNPJ: 22.659.588/0001-22  © Todos os direitos reservados. 2018</small>
            </div>
        </div>
    </section>
</footer>