<div class="container deposit-info">
    <h3 class="deposit-info__heading"><strong>Para pagamentos via depósito:</strong></h3>

    <div class="deposit-info__banks clearfix">
        <div class="deposit-info__bank deposit-info__bank--bradesco">
            <h4 class="bank__heading">BANCO BRADESCO</h4>
            <p class="bank__info">
                AG: 0215 <br />
                C/C: 25430-4 <br />
                M.M.G. COMERCIO DE ARTIGOS PARA DECORACAO LTDA <br />
                CNPJ: 029.662.449/0001-05 <br />
            </p>
        </div>
    
        <div class="deposit-info__bank deposit-info__bank--bb">
            <h4 class="bank__heading">BANCO DO BRASIL - 001</h4>
            <p class="bank__info">
                AG: 6624-9 <br />
                CC: 51000-9 <br />
                M.G.M. TECIDOS LTDA - ME <br />
                CNPJ: 022.659.588/0001-22 <br />
            </p>
        </div>
    </div>

    <p class="deposit-info__orientation">Orientações para pagamento do depósito: Não esqueça de nos enviar o comprovante por email ou WhatsApp para facilitar a identificação de seu depósito ;)</p>
  
    
    <p class="deposit-info__contact">
        <a href="mailto:contato@enroladotecidos.com.br">contato@enroladotecidos.com.br</a> <br />
        (19) 9-8141-6772
    </p>
</div>