/* /files/checkout-confirmation-custom.css */

.deposit-info {
    margin: 60px auto;
}

.deposit-info__heading {
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 30px;
}

.deposit-info__banks {
	clear: both
}

.deposit-info__bank {
    margin: 0 35px 35px 0;
    float: left;
}