@import ../../variables
@import ../../mixins

.product__simulator-banner
    display: none
    padding: 35px
    background: $primary-purple-light
    border-radius: .5rem
    overflow: hidden
    margin-bottom: 60px
    +diagonal-gradient(#3023AE, #C96DD8)

    @media screen and (min-width: 768px)
        display: block

.simulator-banner__heading
    font-size: 2.5rem
    line-height: 2.5rem
    font-weight: 700
    color: $primary-yellow-light
    margin-bottom: 30px

.simulator-banner__text
    font-size: 1.2rem
    color: $white
    margin-bottom: 40px

.btn--ambient-simulator
    width: 100%

.simulator-banner__image
    position: absolute
    bottom: -120px
    left: 40px
    transform: perspective()
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
    filter: FlipH
    -ms-filter: "FlipH"
    width: 80%