@import ../../variables
@import ../../mixins

.product__images
    margin-bottom: 35px
    padding: 0

    @media screen and (min-width: 768px)
        padding: 0 15px

.product-images__slider,
.product-images__thumbnails
    padding: 0
    margin: 0
    border: none
    background: none

    .slides > li
        display: block

.product-images__slider
    margin-bottom: 20px

    .slides img 
        width: 100%
        max-width: 100%
        height: auto
        background-color: $gray-lighter

.product-images__thumbnails
    display: none

    @media screen and (min-width: 768px)
        display: block

    .slides > li
        display: inline-block
        margin-right: 15px

        &:last-child
            margin-right: none

    .slides img
        width: 100px
        height: 100px
        background-color: $gray-lighter