@import ../../variables
@import ../../mixins

.product-info__kit-item
    padding: 10px 0
    margin: 0 10px
    border-bottom: 1px solid $gray-lighter

    &:first-child
        margin-top: 20px

    &:last-child
        margin-bottom: 20px
        border: none
    
.kit-item__image
    max-width: 100%

.kit-item__name
    font-size: 1rem
    margin: 0

.kit-item__price
    line-height: 1.2rem
    margin: 0

.kit-item__price--new span
    font-size: 1.2rem
    font-weight: 800

.product-info__components-total
    width: 100%
    margin: 15px
    text-align: right

    span
        font-size: 1.2rem
        font-weight: 800