@import ../../variables
@import ../../mixins

.product__meter-selector
    padding: 20px 0
    margin: 20px 0
    border-top: 2px solid $gray-lighter
    border-bottom: 2px solid $gray-lighter

.meter-selector__heading
    font-size: 1.20rem
    font-weight: 700
    margin-bottom: 15px

#slider
    width: 75%
    margin: 40px auto
    height: 2px
    background-color: #E5E5E5
    border: none

    &:before,
    &:after
        position: absolute
        top: -13px
        left: -15%
        font-size: 1.20rem
        color: $primary-purple-light

    &:before
        content: '1m'

    &:after
        content: attr(data-content)
        left: 110%

    .meter-selector__handler
        height: 40px
        width: 40px
        padding: 5px
        margin-top: -13px
        background: $primary-purple-light
        border: none
        border-radius: 100%
        text-align: center
        font-size: 1.25rem
        color: $white

        &:focus
            outline: none

.meter-selector__input
    width: 100%
    height: 48px
    padding: 5px 10px 5px 15px
    margin-right: 15px
    margin-bottom: 15px
    border: 2px solid #E5E5E5
    font-size: 1.25rem

    @media screen and (min-width: 768px)
        width: 80px
    
@media screen and (min-width: 768px) 
    .meter-selector__submit
        position: relative
        top: -2px