.product__other-designs
    margin-bottom: 30px

.other-designs__heading
    margin-bottom: 15px
    font-size: 1.30rem
    font-weight: 700
    color: $gray-dark

.other-designs__list
    padding: 0
    margin: 0
    list-style: none

.other-designs__item
    display: inline-block
    margin-right: 20px

    &:last-child
        margin-right: 0

    &:nth-child(even) .other-designs__design
        background-color: $gray-light
        
.other-designs__design
    display: inline-block
    width: 50px
    height: 50px
    background-color: $gray-lighter
    border-radius: .25rem
    background-size: 200%
    background-position: center center