@import ../../variables
@import ../../mixins

.product__quantity-selector
    padding: 20px 0
    margin: 20px 0
    border-top: 2px solid $gray-lighter
    border-bottom: 2px solid $gray-lighter

.quantity-selector__heading
    font-size: 1.20rem
    font-weight: 700
    margin-bottom: 15px

.quantity__remove,
.quantity__add
    width: 50px
    background: none
    justify-content: center
    font-size: 1.5rem
    font-weight: 600
    color: $primary-purple-light
    border: 2px solid $gray-lighter
    cursor: pointer

.quantity__value
    width: 100px
    max-width: 100px
    height: 52px
    padding: 5px 10px 5px 15px
    margin-bottom: 15px
    border: 2px solid $gray-lighter !important
    font-size: 1.25rem