@import ../../variables
@import ../../mixins

.product__sku-selector
    padding: 20px 0
    margin: 20px 0
    border-bottom: 2px solid $gray-lighter

.sku-selector__heading
    font-size: 1.20rem
    font-weight: 700
    margin-bottom: 15px

.sku-selector__list
    padding: 0
    margin: 15px 0 0 0
    list-style: none

.sku-selector__item
    display: inline-block
    padding: 10px
    border: 2px solid transparent
    border-radius: .25rem
    margin: 0 20px 15px 0
    cursor: pointer
    -webkit-transition: all 0.35s
    -moz-transition: all 0.35s
    transition: all 0.35s

    &:focus,
    &:hover,
    &.sku-selector__item--selected
        border-color: $primary-purple-light