@import images
@import other-colors
@import other-designs
@import description-short
@import meter-selector
@import quantity-selector
@import sku-selector
@import shipping-info
@import ambient-simulator-banner
@import payment-methods
@import pricing-table
@import kit-look

.product__info
    min-height: 1000px
    margin-top: 60px

.product__info .flag
    position: absolute
    z-index: 10
    padding: 10px 15px
    text-transform: uppercase
    font-weight: 800
    color: #FFDB14
    background: #9012FE
    border: 2px solid #fff
    border-radius: .25rem
    box-shadow: 0 3px 3px rgba(0,0,0,.25)
    font-size: 1.2rem
    
.product .breadcrumb 
    display: none
    visibility: hidden
    margin-bottom: 65px

.product__buy-button
    width: 100%
    margin-bottom: 30px

.product__description
    margin-bottom: 60px

.product__accessories,
.product__similar-products
    margin: 60px 0

.product__simulator-banner
    display: none