@import alerts
@import banner
@import items
@import totalizers

.cart, 
.cart__footer
    width: 100%
    right: -100%
    +transition(all, .35s)

    @media screen and (min-width: 768px) 
        width: 65%
        right: -65%

    @media screen and (min-width: 1200px)
        width: 465px
        right: -465px

    &.cart--open,
    &.cart--open .cart__footer
        right: 0

.cart
    position: fixed
    top: 0
    height: 100%
    background-color: $white
    z-index: 30
    overflow-y: auto
    border-left: 1px solid $gray-lighter
    box-shadow: 0 0 15px rgba(0,0,0,.35)

.cart__header,
.cart__footer
    text-align: center

.cart__header
    width: 100%