{#results}
    <a href="{link}" class="search__result dropdown-item d-flex align-items-center clearfix">
        <img src="{imageUrl}" alt="{name}" width="30" height="30" class="result__image img-fluid" />
        <span class="result__name">{nameHighlighted}</span>
    </a>
{/results}