@import ../../mixins
@import ../../variables

.catalog-banner
    .col-lg-4
        display: flex
        justify-content: center
        align-items: center
        
    .catalog-banner__heading .titulo-sessao
        padding: 35px
        font-size: 3rem
        line-height: 3rem
        font-weight: 600
        text-transform: uppercase
        text-align: center
        color: $primary-purple-light

        @media screen and (min-width: 992px)
            padding: 0
            font-size: 4rem
            line-height: 4rem

    .catalog-banner__heading .titulo-catalog
        padding: 35px
        font-size: 3rem
        line-height: 3rem
        font-weight: 600
        text-transform: uppercase
        text-align: center
        color: $primary-purple-light

        @media screen and (min-width: 992px)
            padding: 0
            font-size: 4rem
            line-height: 4rem

    @media screen and (min-width: 992px)
        height: 300px

.catalog-banner__image
    display: none
    padding-right: 0
    text-align: right

    @media screen and (min-width: 992px) 
        display: block