@import ../../mixins
@import ../../variables

.result__pagination
    margin: 50px 0
    width: 100%
    display: flex
    justify-content: center

    .pagination
        display: inline-block

        @media screen and (min-width: 992px)
            display: flex

    .page-item
        display: inline-block
        margin: 5px

    .page-link
        padding: .65rem

        @media screen and (min-width: 992px)
            padding: 1rem 1.5rem