@import banner
@import filters
@import orderby
@import pagination

.empty-search 
    .catalog-banner
        background: $gray-lighter
    
    .titulo-sessao
        font-size: 3rem


.catalog .breadcrumb 
    display: none

@media screen and (min-width: 1600px)
    .catalog .results .col-xl-3
        flex: 0 0 20%
        max-width: 20%